---
import Form from "../components/uploadFiles";
---
<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Demo</title>
	</head>
	<body>
        <Form client:load />
		<canvas id="democanvas">
			Sorry. Your browser does not support HTML5 canvas element.
		</canvas>

        <script is:inline src="doxaWasm.js"></script>
        <script is:inline src="doxa.js"></script>
        <script>
            import { store, setStore } from "../components/store.js";
            setStore("algorithm", Doxa);
            // console.log(store);
        </script>
    </body>
</html>